.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px 16px 24px;
  margin-top: 24px;
  border-radius: 16px;
  background-color: $lightGray;
  &__right {
    display: flex;
    gap: 24px;
  }
  &__lang {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 8px;
    color: $primary;

    &Text {
      color: $primary;
      font-family: Gilroy;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    &Svg {
      stroke: $primary;
    }
  }
}
