.code {
  position: relative;
  background-color: $lightGray;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  display: flex;
  gap: 10px;
  padding: 32px;
  border-radius: 24px;
  padding-top: 24px;

  &__text {
    flex-grow: 1;
  }
}
